@media (max-width: 480px) {
    .heropage .text{
        padding-top: 15px;
        margin-left: 0;
        padding: 5%;
    }
    .heropage .hero-h5{
        font-size: 18px; 
    }
    .heropage .h2{
        font-size: 40px; 
    }
    .heropage .appoint {
        display: flex; margin-top: 15px;
    }
    .heropage .book{
       font-size: 15px !important; margin-bottom: 35%;
    }
    .heropage .container-img{
        width: 100%;
    }
    .featured .container{
        margin: 10px;
    }
    .featured .container .row{
        display: flex !important;
    }
    .featured .container .row .col-4 h5{
        font-size: 25px;
        
    }
    .featured .container .row .col-4 p br{
        display: flex !important;
    }
    .Dental-doc  .dentalt img{
        width: 100%;
        margin-top: 10% !important;
        margin-left: 0% !important;
    }
    #about .img-doc{
        width: 100%;
        height: auto;
        margin-top: 5%;
    }
    .Service{
        margin-top: 10%;
        width: 100%;
       margin-left: 0%;
    }
    .Service .Content2{
        margin-top: 200%;
    }
    
    .Service .carousel-inner2 img{
        height: auto;
        border: 1px solid whitesmoke;
    }
    .Service .Content2 .p{
        font-size: 13px; 
    }
    .Content2 .span{
        font-size: 15px; text-align: center;
    }
    .Content2 .h2{
        font-size: 28px;  text-align: center;
    }
    .actor img{
        margin-left: 5%;
    }
    
    .actor h5{
        padding-left: 10%;
    }
    footer{
        margin-top: 40% !important;
    }
    footer .header{
        margin-top: 15%;
        }
        
        .header p{
            font-size: 10px;
            font-weight: lighter;
        }
        footer .row{
            padding-top: 7%;
            justify-content: space-around;
            padding: 10px;
            margin-left: 8%;
        }
    .modal-body img{
    width: 100px;
   
}
    
}
